<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:800px">
	<tbody>
		<tr>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" style="width:789.778px">
				<tbody>
					<tr>
						<td style="width:100.889px">
						<p><span style="font-family:Verdana,Geneva,sans-serif"><img alt="" src="https://www.mbbank.com.vn/images/logo.png" style="height:36px; width:80px" /></span></p>
						</td>
						<td style="text-align:center; width:659px">
						<p><span style="color:#1229db"><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px"><strong>VLWARE PRIVATE CLOUD</strong></span></span></span></p>

						<p><span style="color:#1229db"><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px"><strong>VLPHERE</strong></span></span></span></p>
						</td>
					</tr>
				</tbody>
			</table>

			<hr />
			<p style="text-align:justify"><em><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px"><strong>K&iacute;nh gửi anh/chị!</strong></span></span></em></p>

			<p style="text-align:justify"><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">Hệ thống gửi anh/chị th&ocirc;ng tin b&ecirc;n dưới. Nếu cần hỗ trợ xin li&ecirc;n hệ với danh s&aacute;ch đầu mối trong email.</span></span></p>

			<p style="text-align:justify">&nbsp;</p>

			<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:Verdana,Geneva,sans-serif"><strong>1. TH&Ocirc;NG TIN SSH/REMOTE</strong></span></span></p>

			<table border="1" cellpadding="0" cellspacing="0" style="width:757.778px">
				<thead>
					<tr>
						<th scope="col"><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#2c3e50"><span style="background-color:#ffffff">STT</span></span></span></th>
						<th scope="col" style="width:88px"><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#2c3e50"><span style="background-color:#ffffff">SERVER</span></span></span></th>
						<th scope="col" style="width:140px"><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#2c3e50"><span style="background-color:#ffffff">HOSTNAME</span></span></span></th>
						<th scope="col" style="width:82px"><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#2c3e50"><span style="background-color:#ffffff">IP</span></span></span></th>
						<th scope="col"><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#2c3e50"><span style="background-color:#ffffff">USER</span></span></span></th>
						<th scope="col" style="width:107px"><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#2c3e50"><span style="background-color:#ffffff">PASS</span></span></span></th>
						<th scope="col" style="width:162px"><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#2c3e50"><span style="background-color:#ffffff">CẤU H&Igrave;NH</span></span></span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">1</span></td>
						<td style="width:88px">{{ inventory_hostname_short | upper }}</td>
						<td style="width:140px">{{ gather_facts_for_vm_each_properties.instance.guest.hostName }}</td>
						<td style="width:82px">{{ gather_facts_for_vm_each_properties.instance.summary.guest.ipAddress }}</td>
						<td style="width:82px">{{ user_login }}</td>
						<td style="width:107px">{{ password_VM }}</td>
						<td style="width:162px">
						<p><strong>CPU</strong>:&nbsp;{{ vm_hardware_cpu }}</p>
						<p><strong>RAM</strong>:&nbsp;{{ vm_hardware_memory_gb }}</p>
						<p><strong>DISK</strong>:&nbsp;{{ vm_disk_size }}</p>
						</td>
					</tr>
				</tbody>
			</table>

			<p>&nbsp;</p>

			<p><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">Để truy cập sử dụng được m&aacute;y chủ c&oacute; IP {{ gather_facts_for_vm_each_properties.instance.summary.guest.ipAddress }} anh/chị thực hiện theo BM06 để được đưa l&ecirc;n hệ thống PAS DEV.&nbsp;</span></span></p>

			<p>&nbsp;</p>

			<p><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">Tr&acirc;n trọng cảm ơn!</span></span></p>

			<p>&nbsp;</p>

			<hr />
			<p><span style="font-size:16px"><span style="font-family:Verdana,Geneva,sans-serif"><strong>ĐẦU MỐI HỖ TRỢ</strong></span></span></p>

			<table border="1" cellpadding="0" cellspacing="0" style="width:749.778px">
				<thead>
					<tr>
						<th scope="col"><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#2c3e50"><span style="background-color:#ffffff">STT</span></span></span></th>
						<th scope="col"><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#2c3e50">NHU CẦU HỖ TRỢ</span></span></th>
						<th scope="col" style="width:166px"><span style="font-family:Verdana,Geneva,sans-serif">EMAIL</span></th>
						<th scope="col" style="width:121px"><span style="font-family:Verdana,Geneva,sans-serif">PHONE</span></th>
						<th scope="col" style="width:180px"><span style="font-family:Verdana,Geneva,sans-serif">GHI CH&Uacute;</span></th>
					</tr>
					<tr>
						<td style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">1</span></span></td>
						<td><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">Hỗ trợ cấp ph&aacute;t private cloud</span></span></td>
						<td style="width:166px">
						<p><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">Admin</span></span></p>

						<p><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">Admin</span></span></p>
						</td>
						<td style="width:121px">&nbsp;</td>
						<td style="width:180px">&nbsp;</td>
					</tr>
					<tr>
						<td style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">2</span></span></td>
						<td><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">Hỗ trợ add VM l&ecirc;n PAS DEV</span></span></td>
						<td style="width:166px"><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">admin</span></span></td>
						<td style="width:121px">&nbsp;</td>
						<td style="width:180px">&nbsp;</td>
					</tr>
					<tr>
						<td style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">3</span></span></td>
						<td><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">Hỗ trợ mở ch&iacute;nh s&aacute;ch</span></span></td>
						<td style="width:166px"><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:16px">admin</span></span></td>
						<td style="width:121px">&nbsp;</td>
						<td style="width:180px">&nbsp;</td>
					</tr>
				</thead>
			</table>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>